@font-face {
    font-family: 'HelveticaNeue';
    src: url(../font/HelveticaNeue.ttc);
}

* {
    font-family: HelveticaNeue;
    margin: 0;
}
#landing-image {
    background: url(../images/landing-logo.png);
    width: 781px;    
    height: 482px;
    margin: auto;
}

#redberry-logo {
    display: flex;
    justify-content: center;
    margin: 79px 0;
}

/* Btn Styling */

#landing-anchors {
    display: grid;
    justify-items: center;
    margin-top: 100px;
}

#landing-anchors a {
    width: 208px;
    padding: 18px 82px;
    margin-top: 26px;
}

.nextButton {
    padding: 18px 45.5px;
    float: right;
}

.btn {
    text-decoration: none;
    background-color: #62A1EB;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;

}

.btn:hover {
    background-color: #317AD0;
}

.btn:active {
    background-color: #1A5DAB;
}



form {
    background-color: #fefefe;
    margin: 0 347px;
    padding: 0 9rem;
    height: 840px;
    border-radius: 18px;
}

.existingPages {
    display: flex;

    justify-content: center;
}
.existingPages * {
    margin: 40px 66px 42px 0;
    font-weight: 700;
    font-size: 20px;
}
.active {
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-thickness: 0.1px;
}

.requirement {
    font-size: 14px;
    font-weight: 300 !important;
    color: #2E2E2E;
    margin-bottom: 40px;
}

label {
    font-weight: 500;
    display: inherit;
}

.redberry-logo-circle {
    display: block;
    margin: 20px auto 0;
}
